<?xml version='1.0' encoding='UTF-8'?>
<maven-multi-branch-project plugin="multi-branch-project-plugin@0.3">
  <actions/>
  <description></description>
  <views class="java.util.concurrent.CopyOnWriteArrayList">
    <branch-list-view>
      <owner class="maven-multi-branch-project" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*</includeRegex>
      <recurse>false</recurse>
    </branch-list-view>
  </views>
  <primaryView>All</primaryView>
  <disabled>false</disabled>
  <disabledSubProjects class="hudson.util.PersistedList"/>
  <syncBranchesTrigger>
    <spec>* * * * *</spec>
  </syncBranchesTrigger>
  <allowAnonymousSync>false</allowAnonymousSync>
  <scmSource class="jenkins.plugins.git.GitSCMSource" plugin="git@2.4.0">
    <id>6f95a90e-7f92-4d6f-9333-cdbe6e2cdddf</id>
    <remote>${Remote}:${Owner}/${ProjectName}.git</remote>
    <credentialsId>882d2554-c1d0-49e3-8289-364c79f6f631</credentialsId>
    <includes>*</includes>
    <excludes></excludes>
    <ignoreOnPushNotifications>false</ignoreOnPushNotifications>
  </scmSource>
</maven-multi-branch-project>
